venv
node_modules
dist

bin/
obj/

*.user
*.suo
*.cache
*.userprefs

packages/
*.nupkg

*.log
*.dll
*.exe

*.csproj.user
*.sln.docstates

_ReSharper*/
*.resharper
*.DotSettings
*.dotCover

.DS_Store

TestResults/
